<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Welcome to contacts</h1>

    <ul>
      <% @contactlist.each do |contact| %>
        <li><%= contact.full_name + " email address: " + contact.email_address +  " notes: " + contact.note%></li>
      <% end %>
    </ul>

  </body>
</html>
